#background li{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

body {
    text-align: center;
    color: #ffffff;
}

.environment {
    text-align: left;
    margin-left: 1%;
    opacity: 0.8;
}

.environment row{
    line-height: 5px;
}

.tips {
    margin:0 auto;
    font-size: 30px;
}

.welcome {
    font-size: 40px;
    margin-bottom: 3%;
}



.todolist {
    text-align: left;
}

#day {
    text-align: right;
    padding-top: 7px;
    font-size: 30px;
}

#time {
    text-align: left;
    font-size: 70px;
}

.addimg {
    height:30px;
    width: 30px;
    margin-top: -2%;
    opacity:0.7;
}
.bottom2 {
    position:absolute;
    bottom: 5px;
    margin-left: 30%;
    opacity: 0.8;
}

.addimg:hover {
    opacity: 1.0;
}
.lefttime{
    font-size: 40px;
}

.timerdescription{
    font-size: 30px;
}

.timerimg {
    height:50px;
    width:42px;
}

.bottom1 {
    position:absolute;
    bottom: 10px;
    margin-left: 2%;
    opacity: 0.8;
    text-align: left;
}

.bottom3 {
    position: absolute;
    bottom:13px;
    margin-left: 84%;
    opacity: 1.0;
    text-align: right;
}

.calenderimg {
    height: 40px;
    width: 40px;
}



